.favorites-page {

    .fav-btns {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            padding: .8rem;
            font-size: 1.6rem;
            border-radius: 4px;
            border: 0;
            font-weight: 700;
        }

        .clicked {
            box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.3);
            background: $secondary;
            color: $primary-dark;
        }
        .unclicked {
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
            background: $primary-dark;
            color: $secondary;
            cursor: pointer;
            transition: transform 250ms ease-in-out;

            &:hover, &:active {
                transform: scale(.98);
            }
        }
    }
}