.navbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: $primary-dark;

	.nav-icon {
		font-size: 2.2rem;
		color: #14056a;
	}

	.Mui-selected {
		color: $secondary;
		font-size: 1rem;
		margin-top: 1px;
		svg {
			fill: $secondary;
		}
	}
}

header {
	width: 100%;
	padding: 2.4rem 0 2.4rem 2.4rem;
	display: inline-block;

	a {
		border: 0;
		background: unset;
		cursor: pointer;
		transition: all 250ms ease-in-out;

		&:hover,
		&:active {
			transform: scale(0.99);
		}

		img {
			width: 20rem;
			transform: translateX(-150%);
			opacity: 0;
			animation: slide-right 0.8s ease-in forwards;
		}
	}
}

.search-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	.switching-btn {
		position: absolute;
		top: 2.6rem;
		right: 2.4rem;
		width: 4.6rem;
		height: 4.6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		outline: 0;
		border: 0;
		border-radius: 8px;
		transition: all 250ms ease-in-out;
		cursor: pointer;
		opacity: 0;
		animation: slide-left 0.4s ease-in forwards 1s;

		&:hover,
		&:active {
			transform: scale(0.96);
		}

		.icon {
			font-size: 2.2rem;
			stroke-width: 0.6px;
			overflow: visible;
			position: relative;
			top: -1px;
		}
	}

	form {
		padding-bottom: 2.4rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 80%;
		transition: all 250ms ease-in-out;

		input {
			padding: 0.8rem;
			font-size: 1.4rem;
			border: 1px solid $secondary-border;
			border-radius: 4px;
			margin-bottom: 0.8rem;
			color: #1d0896;
			font-family: inherit;

			&:focus {
				border: 1px solid #6148f5;
				outline-width: 0;
			}

			&::placeholder {
				font-family: inherit;
				color: #ada0fa;
			}
		}

		button {
			padding: 0.4rem;
			font-size: 1.6rem;
			font-weight: 700;
			border-radius: 4px;
			background: $primary;
			border: 1px solid $primary-border;
			color: #f2f2f2;
			font-family: inherit;
			cursor: pointer;
			transition: background 250ms ease-in-out;

			&:hover,
			&:active {
				background: #8572fb;
			}
		}
	}
}

.headline {
	padding: 1rem 0 2rem 2.4rem;
	opacity: 0;
	animation: smooth-in 0.8s ease-in forwards 1s;

	h1 {
		font-size: 2rem;
	}
}

.container {
	padding: 1rem;
}

.pagination {
	margin: 6rem auto 9rem auto;
	display: flex;
	justify-content: center;
	align-items: center;

	li {
		button {
			color: #240ab9;
			font-weight: 700;
			font-size: 1rem;
		}
	}

	.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
		background-color: $secondary;
	}

	.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
		background-color: rgba(105, 79, 250, 0.2);

		&:hover {
			background-color: $primary;
			color: #f2f2f2;
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.navbar {
		.nav-icon {
			font-size: 2.4rem;
		}

		.Mui-selected {
			font-size: 1.2rem;
			margin-top: 1.5px;
		}
	}

	.headline {
		padding: 2rem 0 1.4rem 2.4rem;
		h1 {
			font-size: 2.2rem;
		}
	}

	.container {
		padding: 2.4rem;
	}

	.pagination {
		li {
			margin-right: 6px;
			button {
				font-size: 1.2rem;
			}
		}
	}

	.search-container {
		form {
			padding-bottom: 2rem;
			width: 50%;
		}
	}
}

@media (min-width: $breakpoint-desktop) {
	.navbar {
		.Mui-selected {
			font-size: 1rem;
			margin-top: 1px;
		}
	}

	.headline {
		padding: 1.6rem 0 1rem 2.4rem;
		h1 {
			font-size: 1.8rem;
		}
	}

	header {
		width: 100%;
		padding: 2.4rem 0 2.4rem 2.4rem;

		a {
			img {
				width: 15rem;
			}
		}
	}

	.search-container {
		display: flex;
		flex-direction: row-reverse;
		position: absolute;
		top: 2.6rem;
		right: 2.4rem;

		.switching-btn {
			position: relative;
			top: unset;
			right: unset;
			width: 4rem;
			height: 4rem;
			border-radius: 4px;

			.icon {
				font-size: 2rem;
				stroke-width: 0.6px;
				top: -1px;
			}
		}

		form {
			padding-bottom: 0;
			flex-direction: row;
			justify-content: flex-end;
			margin-right: 9rem;
			height: 3.8rem;

			input {
				padding: 0.8rem;
				font-size: 1.4rem;
				margin-bottom: 0;
				margin-right: 2rem;
				width: 30rem;
			}

			button {
				padding: 0 0.4rem;
				font-size: 1.4rem;
			}
		}
	}
}
