$primary: #9888f9;
$secondary: #f1b918;
$gradient: linear-gradient(45deg, #9888f9 14.64%, #f1b918 85.34%);

@import "searchComponent";
@import "cardContainer";
@import "alertComponent";

.loading-container {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .loading {
    width: 20rem;
  }
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #5c42f5;

  .nav-icon {
    font-size: 2.2rem;
    color: #160676;
  }

  .Mui-selected {
    color: $secondary;
    font-size: 1rem;
    svg {
      fill: $secondary;
    }
  }
}

header {
  width: 100%;
  padding: 2.4rem 0 0 2.4rem;
  display: inline-block;

  a {
    border: 0;
    background: unset;
    cursor: pointer;
    transition: all 250ms ease-in-out;

    &:hover,
    &:active {
      transform: scale(0.99);
    }

    img {
      width: 20rem;
    }
  }
}

.container {
  padding: 1rem;

  .headline {
    padding: 2.4rem 0;

    h1 {
      font-size: 2.2rem;
    }
  }
}
