.headline {
	padding: 1rem 0 2rem 2.4rem;
	opacity: 0;
	animation: smooth-in 0.8s ease-in forwards 1s;

	h1 {
		font-size: 2rem;
	}
}

.container {
	padding: 1rem;
}

@media (min-width: $breakpoint-tablet) {
	.headline {
		padding: 2rem 0 1.4rem 2.4rem;
		h1 {
			font-size: 2.2rem;
		}
	}

	.container {
		padding: 2.4rem;
	}
}

@media (min-width: $breakpoint-desktop) {
	.headline {
		padding: 1.6rem 0 1rem 2.4rem;
		h1 {
			font-size: 1.8rem;
		}
	}
}
